text.style4 {
  color: rgba(255, 255, 255, 0.588);
  font-family: 'Inter', sans-serif;
  font-size: 0.5em;
  line-height: 1.875;
  font-weight: 400;
}
.graph {
  background-color: aliceblue;
  border-radius: 4px;
  margin-left: 90px;
  border-color: black;
  border-width: 0px;
  background-image: linear-gradient(142deg, #8C51D6 0%, #DE8B5D 43%);
}
.svg-tip {
  padding: 10px;
  background: rgba(0,0,0,0.8);
  color: #bbb;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  position: absolute;
  z-index: 99999;
  text-align: center;
  border-radius: 3px;
}

.svg-tip:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  height: 5px;
  width: 5px;
  bottom: -10px;
  margin: 0 0 0 -5px;
  content: " ";
  border: 5px solid transparent;
  border-top-color: rgba(0,0,0,0.8);
}